venv/

# Environment variables - NEVER commit this
.env
.env.*

# Python cache
admin_dashboard/__pycache__/*
insights/__pycache__/*
users/__pycache__/*
analytics/__pycache__/*
backend/__pycache__/*
frontend/__pycache__/*
transactions/__pycache__/*
notification/__pycache__/*
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.sqlite3
media/

# IDE
.vscode/
.idea/